html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  margin: 0;
  text-align: center;
  background-color: green;
}
.box{
  overflow: hidden;
  display: flex;
  transition: all .3s;
}
